# OSX

.DS_Store
.AppleDouble
.LSOverride

# VSC

*.sdf
*.opensdf
*.suo
ipch/

# npm
node_modules

#local dotenv
.env

#ESLINT
.eslintrc.json
.eslintignore

#PRETTIER
.prettierignore
.prettierrc.json
